{% extends 'base.html' %}
{% block content %}
<div class="container">
    <img class="gif" src="/static/img/NOMINAL-EVERYDAYANYONE(Trippy Video).gif" id="gifImg">
    <div class="background-transparent">
        <div class="dark_gif">
            <div class="controller-text">
                <div class="center-text">
                    <span class="text1">Advertising creatives</span>
                    <span class="text2">Of</span>
                    <span class="text2">the new era</span>
                </div>
            </div>
            <div class="contr-button">
                <div class="btn-control">
                    <a href="#" class="button open">
                        <span class="button__line button__line--top"></span>
                        <span class="button__line button__line--right"></span>
                        <span class="button__line button__line--bottom"></span>
                        <span class="button__line button__line--left"></span>
                        ORDER
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container3">
    <h2 class="container-title">For who ?</h2>
    <div class="for-who">
        <div class="three">
            <div class="card-for-who">
                    <div class="imgBx">
                        <img src="/static/img/fb.png">
                    </div>
                    <div class="contentBx">
                        <h2>Nike Shoes</h2>
                        <div class="color">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>
            </div>
            <div class="card-for-who">
                <div class="imgBx">
                    <img src="https://assets.codepen.io/4164355/shoes.png">
                </div>
                <div class="contentBx">
                    <h2>Nike Shoes</h2>
                    <div class="color">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#">Buy Now</a>
                </div>
            </div>
            <div class="card-for-who">
                <div class="imgBx">
                    <img src="https://assets.codepen.io/4164355/shoes.png">
                </div>
                <div class="contentBx">
                    <h2>Nike Shoes</h2>
                    <div class="color">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="three">
            <div class="card-for-who">
                    <div class="imgBx">
                        <img src="https://assets.codepen.io/4164355/shoes.png">
                    </div>
                    <div class="contentBx">
                        <h2>Nike Shoes</h2>
                        <div class="color">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>
            </div>
            <div class="card-for-who">
                <div class="imgBx">
                    <img src="https://assets.codepen.io/4164355/shoes.png">
                </div>
                <div class="contentBx">
                    <h2>Nike Shoes</h2>
                    <div class="color">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#">Buy Now</a>
                </div>
            </div>
            <div class="card-for-who">
                <div class="imgBx">
                    <img src="https://assets.codepen.io/4164355/shoes.png">
                </div>
                <div class="contentBx">
                    <h2>Nike Shoes</h2>
                    <div class="color">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container2" id="order">
    <div class="card rgb" data-tilt>
        <div class="card-image"></div>
        <div class="card-text">
            <h2>Post One</h2>
            <p>In my younger and more vulnerable years my father
            gave me some adviceasdasdasdasdasdasdasdasdasdasd
            that I've been turning over asdasdasdadsdasdasdas
            in my mind ever since.</p>
        </div>
        <div class="card-button">
            <div class="button2">
                <a class="a" href="#">Read more</a>
            </div>
        </div>
    </div>
    <div class="card rgb" data-tilt="0.5">
        <div class="card-image"></div>
        <div class="card-text">
            <h2>Post Two</h2>
            <p>In my younger and more vulnerable years my father
            gave me some adviceasdasdasdasdasdasdasdasdasdasd
            that I've been turning over asdasdasdadsdasdasdas
            in my mind ever since.</p>
        </div>
        <div class="card-button">
            <div class="button2">
                <a class="a" href="#">Read more</a>
            </div>
        </div>
    </div>
    <div class="card rgb" data-tilt>
        <div class="card-image"></div>
        <div class="card-text">
            <h2>Post Three</h2>
            <p>In my younger and more vulnerable years my father
            gave me some adviceasdasdasdasdasdasdasdasdasdasd
            that I've been turning over asdasdasdadsdasdasdas
            in my mind ever since.</p>
        </div>
        <div class="card-button">
            <div class="button2">
                <a class="a" href="#">Read more</a>
            </div>
        </div>
    </div>
  </div>
<div class="modal-bg hidden">
    <div class="modal hidden">
        <div class="form">
            <form action="{% url 'send' %}" method="post">
                {% csrf_token %}
                <label for="email" required="required">Email</label>
                <input id="email" name="email" type="email"/>
                <label for="about_project" required="required">Tell us more about your product/products. Features, characteristics and advantages</label>
                <input id="about_project" name="about_project" type="text"/>
                <label for="auditory" required="required">Who is your audience? (Pains, sex, age, interests and hobbies)</label>
                <input id="auditory" name="auditory" type="text"/>
                <label for="creative" required="required">Wishes and recommendations regarding creative design</label>
                <input id="creative" name="creative" type="text"/>
                <label for="advertising" required="required">Have you had experience with advertising campaigns? Tell us a little about him :)</label>
                <input id="advertising" name="advertising" type="text"/>
                <label for="site" >Site (if exists)</label>
                <input id="site" name="site" type="text"/>
                <label for="social" >Links to social networks</label>
                <input id="social" name="social" type="text"/>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="invite">
            <h3>We want to learn as much as possible about your product and target audience to make your creative as effective as possible, please tell us a little about yourself</h3>
            <div class="nope">No thanks, I dont like saving money</div>
            <div class="close" title="close"></div>
        </div>
    </div>
</div>
{% endblock %}