{% extends 'base.html' %}
{% block content %}
<div class="container">
    <video autoplay muted loop id="myVideo">
        <source src="/static/img/4_10.mp4" type="video/mp4">
    </video>
    <div class="background-transparent">
        <div class="dark_gif">
            <div class="controller-text">
                <div class="center-text">
                    <span class="text1">Advertising creatives</span>
                    <span class="text2">Of</span>
                    <span class="text2">the new era</span>
                </div>
            </div>
            <div class="contr-button">
                <div class="btn-control">
                    <a href="#" class="button open">
                        <span class="button__line button__line--top"></span>
                        <span class="button__line button__line--right"></span>
                        <span class="button__line button__line--bottom"></span>
                        <span class="button__line button__line--left"></span>
                        ORDER
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container3">
    <div class="bar-box">
        <h2 class="container-title">For who ?</h2>
    </div>
    <div class="for-who">
        <div class="three">
            <div class="card-for-who">
                    <div class="imgBz">
                        <img src="/static/img/img-for-who/Cards/Affilate Card/0019_1300x820-removebg.png">
                    </div>
                    <div class="imgBx">
                        <img src="/static/img/img-for-who/Cards/Affilate Card/Affilate  Card logo png.png">
                    </div>
                    <div class="contentBx">
                        <h2>Media</h2>
                        <h2>buyers</h2>
                        <div class="color">
                            <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                        </div>
                        <a href="#" class="open">
                            <span>Buy Now</span>
                        </a>
                    </div>
            </div>
            <div class="card-for-who">
                <div class="imgBz imgBz-left1">
                    <img src="/static/img/img-for-who/Cards/Private Business card/[Universal Renders] - JEFF BEZOS RENDER.png">
                </div>
                <div class="imgBx imgBx-left1">
                    <img src="/static/img/img-for-who/Cards/Private Business card/Affilate__Card-removebg-preview.png">
                </div>
                <div class="contentBx">
                    <h2>Private</h2>
                    <h2>Business</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
            <div class="card-for-who">
                <div class="imgBz imgBz-left2">
                    <img src="/static/img/img-for-who/Cards/Youtubers/mrbeast-removebg-preview.png">
                </div>
                <div class="imgBx imgBx-left2">
                    <img src="/static/img/img-for-who/Cards/Youtubers/Youtube-logo-icon-on-transparent-background-PNG.png">
                </div>
                <div class="contentBx">
                    <h2>Youtube</h2>
                    <h2>Blogers</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="three">
            <div class="card-for-who">
                    <div class="imgBz imgBz-left3">
                        <img src="/static/img/img-for-who/Insta Bloggers/5dbb3b198c0d1-removebg-preview.png">
                    </div>
                    <div class="imgBx imgBx-left3">
                        <img src="/static/img/img-for-who/Insta Bloggers/peter-suthinu-4KtpdFMvkNU-unsplash-removebg-preview.png">
                    </div>
                    <div class="contentBx">
                        <h2>Instagram Blogers</h2>
                        <div class="color">
                            <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                        </div>
                        <a href="#" class="open">
                            <span>Buy Now</span>
                        </a>
                    </div>
            </div>
            <div class="card-for-who">
                <div class="imgBz imgBz-left4">
                    <img src="/static/img/img-for-who/Speakrs/Instagram Blogger1s.png">
                </div>
                <div class="imgBx imgBx-left4">
                    <img src="/static/img/img-for-who/Speakrs/—Pngtree—song board photo speech microphone_6241627.png">
                </div>
                <div class="contentBx">
                    <h2>Speakers</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
            <div class="card-for-who">
                <div class="imgBx">
                    <img src="https://assets.codepen.io/4164355/shoes.png">
                </div>
                <div class="contentBx">
                    <h2>Nike Shoes</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container2" id="order">
    <div class="control-box">
        <div class="block-box">
            <div class="imgBox">
                <img src="/static/img/img_container_3/youtube.png">
            </div>
            <div class="content-box">
                <div class="content">
                    <h3 class="con-box-h3">Post One</h3>
                    <p class="cont-box-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
        <div class="block-box">
            <div class="imgBox">
                <img src="/static/img/img_container_3/cyberpunk_fan_art_neon_JivoStudio_Cyberpunk_2077-1970805.jpg!d">
            </div>
            <div class="content-box">
                <div class="content">
                    <h3 class="con-box-h3">Post Two</h3>
                    <p class="cont-box-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
        <div class="block-box">
            <div class="imgBox">
                <img src="/static/img/img_container_3/kiberpank-avtomobil-oboi-1920x1080_48.jpg">
            </div>
            <div class="content-box">
                <div class="content">
                    <h3 class="con-box-h3">Post Three</h3>
                    <p class="cont-box-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
        <div class="block-box">
            <div class="imgBox">
                <img src="/static/img/img_container_3/thumb-1920-985798.png">
            </div>
            <div class="content-box">
                <div class="content">
                    <h3 class="con-box-h3">Post Four</h3>
                    <p class="cont-box-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
        <div class="block-box">
            <div class="imgBox">
                <img src="/static/img/img_container_3/twitter.png">
            </div>
            <div class="content-box">
                <div class="content">
                    <h3 class="con-box-h3">Post Five</h3>
                    <p class="cont-box-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
        <div class="block-box">
            <div class="imgBox">
                <img src="/static/img/img_container_3/twitter.png">
            </div>
            <div class="content-box">
                <div class="content">
                    <h3 class="con-box-h3">Post Six</h3>
                    <p class="cont-box-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container5">
    <div class="box box1">
        <div class="video-box1">
            <video class="video-box video" autoplay muted loop>
                <source src="/static/img/video-gallery/panda.mp4">
            </video>
        </div>
    </div>
    <div class="box box2">
        <div class="vidBx2">
             <video class="video-box video" autoplay muted loop>
                <source src="/static/img/video-gallery/111111.mp4" type="video/mp4">
            </video>
        </div>
        <div class="video-box video-box2">
            <video class=" video" autoplay muted loop>
                <source src="/static/img/video-gallery/TUSOVOCHKA.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="box box3">
        <div class="video-box  video-box3">
            <video class="video" autoplay muted loop>
                <source src="/static/img/video-gallery/Gembla Huli.mp4" type="video/mp4">
            </video>
        </div>
        <div class="video-box  imgBx3">
            <img class="b3img1" src="/img/photo_gallery/photo_2022-09-22_12-46-12.jpg">
        </div>
    </div>
    <div class="box box4">
        <div class="video-box video-box4">
            <video class="video" autoplay muted loop>
                <source src="/static/img/video-gallery/Final Render_2_3.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="box box5">
        <video class="video" autoplay muted loop>
{#            <source src="/static/video/Footage-12127.mp4" type="video/mp4">#}
        </video>
    </div>
    <div class="box box6">
        <video class="video-box video" autoplay muted loop>
{#            <source src="/static/video/4.mp4" type="video/mp4">#}
        </video>
    </div>
</div>
<div class="about">
    <div class="ContentImg">
            <img src="/static/img/Chapp.png">
        </div>
    <div class="content">
        <div class="text">
            <h1 class="text_h1">About Us</h1>
            <h5 class="text_h5">Volstiny Production</h5>
            <p class="text_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim eiusmod tempordolore magna aliqua.
                Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
            <button class="btn" type="button">Hire Me</button>
        </div>
    </div>
</div>
<div class="container4">
    <div class="container-inp">
        <form class="form" method="post" {%  url 'read_as'  %} enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputBox">
                <input name="full_name" type="text" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputBox">
                <input name="your_email" type="email" required="required">
                <span>Your Email</span>
            </div>
            <div class="inputBox">
                <input name="how_can_we_help_you" type="text" required="required">
                <span>How Can We Help You</span>
            </div>
            <div class="Send-btn">
                <button class="btn" type="submit">Send</button>
            </div>
        </form>
    </div>
    <div class="contact-with-as">
        <div class="cards">
            <div class="imgBx">
                <img class="png" src="/static/img/phone-ringing-14 (1).png">
            </div>
            <div class="content">
                <h3>Numbers</h3>
                <a class="content-a" href="tel:0(97)1750340">0(97)1750340</a>
                <a class="content-a" href="tel:+380(68)5553001">+380(68)5553001</a>
            </div>
        </div>
        <div class="cards">
            <div class="imgBx">
                <img class="png" src="/static/img/address.png">
            </div>
            <div class="content">
                <h3>Address</h3>
                <p class="p">Lviv</p>
                <p>Volodymyra Velykogo,4</p>
            </div>
        </div>
        <div class="cards">
            <div class="imgBx">
                <img class="png" src="/static/img/email.png">
            </div>
            <div class="content">
                <h3>Emails</h3>
                <a class="content-a">teamserverr@gmail.com</a>
                <a class="content-a">l.luzhnuy@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-bg hidden">
    <div class="modal hidden">
        <div class="form">
            <form action="{% url 'send' %}" method="post">
                {% csrf_token %}
                <label for="email" required="required">Email</label>
                <input id="email" name="email" type="email"/>
                <label for="about_project" required="required">Tell us more about your product/products. Features, characteristics and advantages</label>
                <input id="about_project" name="about_project" type="text"/>
                <label for="auditory" required="required">Who is your audience? (Pains, sex, age, interests and hobbies)</label>
                <input id="auditory" name="auditory" type="text"/>
                <label for="creative" required="required">Wishes and recommendations regarding creative design</label>
                <input id="creative" name="creative" type="text"/>
                <label for="advertising" required="required">Have you had experience with advertising campaigns? Tell us a little about him :)</label>
                <input id="advertising" name="advertising" type="text"/>
                <label for="site" >Site (if exists)</label>
                <input id="site" name="site" type="text"/>
                <label for="social" >Links to social networks</label>
                <input id="social" name="social" type="text"/>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="invite">
            <h3 class="invite-h3">We want to learn as much as possible about your product and target audience to make your creative as effective as possible, please tell us a little about yourself</h3>
            <div class="nope">No thanks, I dont like saving money</div>
            <div class="close" title="close"></div>
        </div>
    </div>
</div>
{% endblock %}