{% extends 'base.html' %}
{% block content %}
<div class="container" id="containerHome">
    <video autoplay muted loop id="myVideo">
        <source src="/static/img/video-gallery/4_10.mp4" type="video/mp4">
    </video>
    <div class="background-transparent">
        <div class="dark_gif">
            <div class="controller-text">
                <div class="center-text">
                    <span class="text1">Advertising creatives</span>
                    <span class="text2">Of</span>
                    <span class="text2">the new era</span>
                </div>
            </div>
            <div class="contr-button">
                <div class="btn-control">
                    <a href="#" class="button open">
                        <span class="button__line button__line--top"></span>
                        <span class="button__line button__line--right"></span>
                        <span class="button__line button__line--bottom"></span>
                        <span class="button__line button__line--left"></span>
                        ORDER
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container3" id="container3">
    <div class="bar-box">
        <h2 class="container-title">
            FOR WHO?
            <!-- <span class="span"><i></i>F</span>
            <span class="span"><i></i>O</span>
            <span class="span"><i></i>R</span>
            <span class="span"><i></i>W</span>
            <span class="span"><i></i>H</span>
            <span class="span"><i></i>O</span> -->
        </h2>
    </div>
    <div class="for-who">
        <div class="three">
            <div class="card-for-who">
                    <div class="imgBz">
                        <img src="/static/img/img-for-who/Cards/Affilate Card/0019_1300x820-removebg.png">
                    </div>
                    <div class="imgBx">
                        <img src="/static/img/img-for-who/Cards/Affilate Card/Affilate  Card logo png.png">
                    </div>
                    <div class="contentBx">
                        <h2>Media</h2>
                        <h2>buyers</h2>
                        <div class="color">
                            <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                        </div>
                        <a href="#" class="open">
                            <span>Buy Now</span>
                        </a>
                    </div>
            </div>
            <div class="card-for-who">
                <div class="imgBz imgBz-left1">
                    <img src="/static/img/img-for-who/Cards/Private Business card/[Universal Renders] - JEFF BEZOS RENDER.png">
                </div>
                <div class="imgBx imgBx-left1">
                    <img src="/static/img/img-for-who/Cards/Private Business card/Affilate__Card-removebg-preview.png">
                </div>
                <div class="contentBx">
                    <h2>Private</h2>
                    <h2>Business</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
            <div class="card-for-who">
                <div class="imgBz imgBz-left2">
                    <img src="/static/img/img-for-who/Cards/Youtubers/mrbeast-removebg-preview.png">
                </div>
                <div class="imgBx imgBx-left2">
                    <img src="/static/img/img-for-who/Cards/Youtubers/Youtube-logo-icon-on-transparent-background-PNG.png">
                </div>
                <div class="contentBx">
                    <h2>Youtube</h2>
                    <h2>Blogers</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="three">
            <div class="card-for-who">
                    <div class="imgBz imgBz-left3">
                        <img src="/static/img/img-for-who/Insta Bloggers/5dbb3b198c0d1-removebg-preview.png">
                    </div>
                    <div class="imgBx imgBx-left3">
                        <img src="/static/img/img-for-who/Insta Bloggers/peter-suthinu-4KtpdFMvkNU-unsplash-removebg-preview.png">
                    </div>
                    <div class="contentBx">
                        <h2>Instagram Blogers</h2>
                        <div class="color">
                            <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                        </div>
                        <a href="#" class="open">
                            <span>Buy Now</span>
                        </a>
                    </div>
            </div>
            <div class="card-for-who">
                <div class="imgBz imgBz-left4">
                    <img src="/static/img/img-for-who/Speakrs/Instagram Blogger1s.png">
                </div>
                <div class="imgBx imgBx-left4">
                    <img src="/static/img/img-for-who/Speakrs/—Pngtree—song board photo speech microphone_6241627.png">
                </div>
                <div class="contentBx cbx">
                    <h2>Speakers</h2>
                    <div class="color">
                        <h3 class="color-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h3>
                    </div>
                    <a href="#" class="open">
                        <span>Buy Now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container2" id="container2">
        <div class="bar-box">
            <h2 class="container-title">
                OUR SERVICES
                <!-- <span class="span"><i></i>F</span>
                    <span class="span"><i></i>O</span>
                    <span class="span"><i></i>R</span>
                    <span class="span"><i></i>W</span>
                    <span class="span"><i></i>H</span>
                    <span class="span"><i></i>O</span> -->
            </h2>
        </div>
    <div class="wrap">
        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/2d-animations.png"></span></div>
            <div class="back">
                <span>
                    <h1>2D Animation</h1>
                    <h2>(Starts from 30$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/4X5RWn">
                        <ion-icon class="icons"  name="square-outline"></ion-icon>
                    </a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/3d-animation.png"></span></div>
            <div class="back">
                <span>
                    <h1>3D Animations</h1>
                    <h2>(Starts from 80$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/YKWPW3">
                        <ion-icon class="icons"  name="cube-outline"></ion-icon>
                    </a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/banner.png"></span></div>
            <div class="back">
                <span>
                    <h1>Advertising banners</h1>
                    <h2>(Starts from 25$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/g81lA8"><ion-icon class="icons" name="browsers-outline"></ion-icon></a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/Event-Promo.png"></span></div>
            <div class="back">
                <span>
                    <h1>Event Promo</h1>
                    <h2>(Starts from 30$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/LedEA0">
                        <ion-icon class="icons"  name="filter-outline"></ion-icon>
                    </a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/876.png"></span></div>
            <div class="back">
                <span>
                    <h1>Image videos</h1>
                    <h2>(Starts from 30$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/WmDb4J"><ion-icon class="icons" name="bag-remove-outline"></a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/567.png"></span></div>
            <div class="back">
                <span>
                    <h1>YouTube Management</h1>
                    <h2>(The price is individual)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.youtube.com/c/LuxWash"><ion-icon class="logo-youtube" name="logo-youtube"></ion-icon></a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/877.png"></span></div>
            <div class="back">
                <span>
                    <h1>Personal branding</h1>
                    <h2>(Starts from 15$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/NGPDwb"><ion-icon class="icons" name="person-outline"></ion-icon></a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/A2323.png"></span></div>
            <div class="back">
                <span>
                    <h1>Instagram Stories</h1>
                    <h2>(Starts from 10$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/WmDE2J"><ion-icon class="icons" name="logo-instagram"></ion-icon></a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/animated-adv.png"></span></div>
            <div class="back">
                <span>
                    <h1>Animated Advertising</h1>
                    <h2>(Starts from 30$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/yJvQnx"><ion-icon class="icons" name="eye-outline"></ion-icon></a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="front"><span><img class="img" src="/static/img/img_creative/75777777.png"></span></div>
            <div class="back">
                <span>
                    <h1>Video Editing</h1>
                    <h2>(Starts from 15$)</h2>
                    <ion-icon class="arrow-static" name="chevron-down-outline"></ion-icon>
                    <p>Click Me</p>
                    <a href="https://www.artstation.com/artwork/3qYaAD"><ion-icon class="icons" name="videocam-outline"></ion-icon></a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container5" id="gallery">
    <div class="box">
        <video class="video" autoplay muted loop>
            <source src="/static/img/video-gallery/panda.mp4">
        </video>
    </div>
    <div class="box video3">
        <video class="video1" autoplay muted loop>
            <source src="/static/img/video-gallery/111111.mp4">
        </video>
        <div class="img-video-box">
            <img class="img" src="/static/img/img_creative/777.png">
            <video class="video2" autoplay muted loop>
                <source src="/static/img/video-gallery/Gembla_Huli.mp4">
            </video>
        </div>
        <video class="video3" autoplay muted loop>
            <source src="/static/img/video-gallery/video/4.mp4">
        </video>
    </div>
    <div class="box">
        <video class="video" autoplay muted loop>
            <source src="/static/img/video-gallery/Final%20Render_2_3.mp4">
        </video>
    </div>
    <div class="box">
        <video class="video" autoplay muted loop>
            <source src="/static/img/video-gallery/PreRenderMotion.mp4">
        </video>
    </div>
</div>
<div class="about" id="about">
    <div class="content">
        <div class="ContentImg">
            <img src="/static/img/Chapp.png">
        </div>
        <div class="text">
            <h1 class="text_h1">About Us</h1>
<!--            <h5 class="text_h5">Volstiny Production</h5>-->
            <p class="text_p">OUR TEAM IS EXPERIENCED SPECIALISTS WITH HUGE EXPERIENCE. WE APPROACH WORK WITH CREATIVITY AND SIMPLICITY. ONLY POSITIVE ATTITUDES RULE IN THE TEAM THAT IS WHY OUR CREATIVES AVOID ONLY THE NECESSARY EMOTIONS. EACH BANNER, EACH ANIMATION IS EXECUTED AT THE HIGHEST LEVEL AND GIVE OUR CLIENTS AN EXCEPTIONAL RESULT.
                CREO, CONVERSIONS AND ROCK-N-ROLL</p>
<!--            <button class="btn" type="button">Hire Me</button>-->
        </div>
        <div class="secondPhoto">
            <img src="/static/img/art-robot-android-golova.png">
        </div>
    </div>
</div>
<div class="container4" id="contact">
    <div class="container-inp">
        <form class="form" method="post" action="{%  url 'read_as'  %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputBox">
                <input name="full_name" type="text" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputBox">
                <input name="your_email" type="email" required="required">
                <span>Your Email</span>
            </div>
            <div class="inputBox">
                <input name="how_can_we_help_you" type="text" required="required">
                <span>How Can We Help You</span>
            </div>
            <div class="Send-btn">
                <button class="btn" type="submit">Send</button>
            </div>
        </form>
    </div>
    <div class="contact-with-as">
        <div class="cards">
            <div class="imgBx">
                <img class="png" src="/static/img/phone-ringing-14 (1).png">
            </div>
            <div class="content">
                <h3>Numbers</h3>
                <a class="content-a" href="tel:0(97)1750340">0(97)1750340</a>
                <a class="content-a" href="tel:+380(68)5553001">+380(68)5553001</a>
            </div>
        </div>
        <div class="cards">
            <div class="imgBx">
                <img class="png" src="/static/img/address.png">
            </div>
            <div class="content">
                <h3>Address</h3>
                <p class="p">Lviv</p>
                <p>Volodymyra Velykogo,4</p>
            </div>
        </div>
        <div class="cards">
            <div class="imgBx">
                <img class="png" src="/static/img/email.png">
            </div>
            <div class="content">
                <h3>Emails</h3>
                <a class="content-a">teamserverr@gmail.com</a>
                <a class="content-a">l.luzhnuy@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-bg hidden">
    <div class="modal hidden">
            <form action="{% url 'send' %}" method="post">
                {% csrf_token %}
<!--                <label for="email" required="required">Email</label>-->
<!--                <input id="email" name="email" type="email"/>-->
<!--                <label for="about_project" required="required">Tell us more about your product/products. Features, characteristics and advantages</label>-->
<!--                <input id="about_project" name="about_project" type="text"/>-->
<!--                <label for="auditory" required="required">Who is your audience? (Pains, sex, age, interests and hobbies)</label>-->
<!--                <input id="auditory" name="auditory" type="text"/>-->
<!--                <label for="creative" required="required">Wishes and recommendations regarding creative design</label>-->
<!--                <input id="creative" name="creative" type="text"/>-->
<!--                <label for="advertising" required="required">Have you had experience with advertising campaigns? Tell us a little about him :)</label>-->
<!--                <input id="advertising" name="advertising" type="text"/>-->
<!--                <label for="site" >Site (if exists)</label>-->
<!--                <input id="site" name="site" type="text"/>-->
<!--                <label for="social" >Links to social networks</label>-->
<!--                <input id="social" name="social" type="text"/>-->
<!--                <button type="submit">Send</button>-->
                <div class="container-form">
                    <div class="contact-box">
                        <div class="left"></div>
                        <div class="right">
                            <h2>Order</h2>
                            <input type="text" class="field" name="email" placeholder="Email">
                            <input type="text" class="field" name="about_project" placeholder="Tell us more about your product/products. Features, characteristics and advantages">
                            <input type="text" class="field" name="auditory" placeholder="Who is your audience? (Pains, sex, age, interests and hobbies)">
                            <input type="text" class="field" name="creative" placeholder="Wishes and recommendations regarding creative design">
                            <input type="text" class="field" name="advertising" placeholder="Have you had experience with advertising campaigns? Tell us a little about him :)">
                            <input type="text" class="field" name="site" placeholder="Site (if exists)">
                            <textarea placeholder="Links to social networks" name="social" class="field"></textarea>
                            <button class="btn">Send</button>
                        </div>
                    </div>
                </div>
                <div class="close" title="close"></div>
            </form>
<!--        <div class="invite">-->
<!--            <h3 class="invite-h3">We want to learn as much as possible about your product and target audience to make your creative as effective as possible, please tell us a little about yourself</h3>-->
<!--            <div class="nope">No thanks, I dont like saving money</div>-->
<!--            <div class="close" title="close"></div>-->
<!--        </div>-->
    </div>
</div>
{% endblock %}